<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link type="text/plain" rel="author" href="/humans.txt" />
  <link href="http://fooforge.com/" rel="alternate" title="Mike Adolphs" type="application/atom+xml" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/lightbox.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/fooforge.com.css" type="text/css" />

   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li class="c1"><span>Latest postings</span><span class="divider">&raquo;</span></li>
        {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="divider">&raquo;</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
      <div class="span2">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li><a href="/" data-toggle="tab">Welcome</a></li>
            <li><a href="/work.html" data-toggle="tab">Work bio</a></li>
            <li><a href="/posts.html" data-toggle="tab">Posts</a></li>
            <li><a href="/contact.html" data-toggle="tab">Contact</a></li>
            <li><a href="/bookmarks.html" data-toggle="tab">Bookmarks</a></li>
            <li><a href="/os_contrib.html" data-toggle="tab">Open Source</a></li>
          </ul>
        </div> <!-- /tabbable -->
      </div>

      {{ content }}

    </div>
    <div class="push"><!--//--></div>
    <div class="push"><!--//--></div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span2">
        <p>
          Mike Adolphs<br />
          Ops/Infrastructure<br />
          mike@fooforge.com
        </p>
      </div>
      <div class="span2">
        <p>
          <a href="http://github.com/fooforge/">github.com/fooforge</a><br />
          <a href="http://twitter.com/fooforge">twitter.com/fooforge</a><br />
          <a href="https://masterbranch.com/fooforge">masterbranch.com/fooforge</a>
        </p>
      </div>
      <div class="span2 offset6">
        <a href="/feed.xml">
          <img src="/assets/images/rss.png" alt="Subscribe to RSS Feed" />
        </a>
      </div>
    </div>
  </div>
</footer>

<a href="http://github.com/fooforge"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/lightbox.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36110578-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
